:root{
	--mainColor:#ecc762;
	--secondaryColor:#caa52a;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(81, 90, 72, 0.8);
	--previewShadow:#2a2f25;


	--buttonColor:#f8ba0f;


}